<h1 class="text-center">My Bookmarks</h1>

<% if current_user %>
  <%= link_to "Create Bookmark", new_bookmark_path, class: 'btn btn-primary btn-large' %>
<% end %>

<% @bookmarks.each do |bookmark| %>
  <p><%= link_to "#{bookmark.url}", bookmark_path(bookmark) %></p>
<% end %>
